node_modules
.next
prisma/dev.db
prisma/*.db
.git
.gitignore
.cursor
*.md
!.env.example
.env
.env.*
.env.local
.env.*.local
npm-debug.log*
.DS_Store
tv/android/.gradle
tv/android/app/build
tv/android/build
tv/tizen/.buildResult
tv/dist
